<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOM Events</title>
</head>
<body>
    <button >
        Click Here !!!
    </button>
    <ul>
        <h3>Tasks</h3>
        <input id="uinput" type="text" placeholder="Enter the task"> &emsp;
        <button id="enter">Enter</button><br><br>
        <li>Wake up in the morning 6:00 AM</li>
    </ul>

    <script src="../DOM_2.js"></script>
</body>
</html>