<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOM1</title>
    <style>
        .Head{
            background-color: aqua;
            border-radius: 5px;
            font-style: italic;
        }
        .one{
            background-color: blue;
        }
        .hi{
            background-color: green;
        }
    </style>
</head>
<body style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
    <h1 id="one two three">The Fruit List</h1>
    <ul >
        <li class="first" value="10">
            Mango
        </li>
        <li class="first" value="10">
            Orange
        </li>
        <li class="first" value="20">
            Apple
        </li>
        <li class="first" value="30">
            Banana
        </li>
        <li class="first" value="40">
            Jack Fruit
        </li>
    </ul>
    <form>
        <label for="uName">Name :</label>&emsp;
        <input type="text" name="uName" id="uName" placeholder="Name ..." required value="10">
        <input type="submit">
    </form>
    <script src="../DOM_1.js"></script>
</body>
</html>