<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background</title>
    <link rel="stylesheet" type="text/css" href="../background.css">
</head>
<body>
    <!-- Background Color -->
    <div id="bgcolour">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis error nisi similique praesentium voluptatum nulla quos,
            non repellendus assumenda ducimus unde a at reprehenderit quo, porro cupiditate. Facilis, eos repellendus.</p>
    </div>
    <div id="bgimg">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis error nisi similique praesentium voluptatum nulla quos,
            non repellendus assumenda ducimus unde a at reprehenderit quo, porro cupiditate. Facilis, eos repellendus.</p>
    </div>
    <div id="repimg">
        <br><br>          <br><br>
        <br><br>
        <br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate laboriosam modi mollitia neque suscipit dolorem nisi delectus aspernatur 
                temporibus ipsa voluptatum facere ipsum repellat, reprehenderit veniam praesentium animi eveniet Cum.
        <br><br>
        <br><br><hr>
        <br><br><hr>
        <br><br><br>        <br><br>
        <br><br>
        <br><br>        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>

        <br><br><hr><hr>


    </div>
</body>
</html>