<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Border</title>
    <link rel="stylesheet" href="../border.css">
</head>
<body>
    <h2 style="text-align: center;">Border</h2>
    <p class="dot"> dotted :Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
    <p class="das"> dased Laborum praesentium repellendus, sint quis nesciunt dignissimos blanditiis dolore assumenda animi delectus, 
    <p class="sol"> Solid totam nihil nam? Nobis eius velit quam obcaecati pariatur sunt.</p>
    <p class="dbl">Double Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
    <p class="grov"> Groove Laborum praesentium repellendus, sint quis nesciunt dignissimos blanditiis dolore assumenda animi delectus, 
    <p class="rid">Ridge totam nihil nam? Nobis eius velit quam obcaecati pariatur sunt.</p>
    <p class="int">Inset Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
    <p class="ost">Outset Laborum praesentium repellendus, sint quis nesciunt dignissimos blanditiis dolore assumenda animi delectus, </p>
    <p class="non">None totam nihil nam? Nobis eius velit quam obcaecati pariatur sunt.</p>  
    <p class="hid">Hidden Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p> 
    <p class="mixed">Mixed Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quam quas aspernatur repellat quae. Sequi suscipit dicta nesciunt expedita dolores.
     Delectus consequatur voluptate nesciunt aliquid aperiam rerum aspernatur numquam maiores.</p>   
     <h3>Border Styles -side</h3>
     <p class="bside">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, labore? Consequuntur voluptates sapiente excepturi dolores adipisci,
        aliquid commodi enim nobis assumenda veritatis nulla, rerum facere fugiat facilis, ipsa eveniet quisquam?</p>
    <p class="Sbor">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat est facilis tenetur esse, cumque maxime libero quisquam quaerat,
         laudantium sapiente distinctio, obcaecati exercitationem voluptatem excepturi eligendi commodi rerum reiciendis fuga?
    </p>
    <p class="btm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, earum? Dolores saepe molestias soluta ab perferendis enim eveniet cumque
         odio obcaecati fugiat tenetur, natus quia earum consequatur neque laudantium dolorem!</p>
        <h2>Round Borders</h2>
        <p id="round">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat sunt delectus cupiditate, nihil maxime porro deleniti quasi quidem ea 
            obcaecati, corrupti, quae harum. Nihil, quas necessitatibus possimus incidunt numquam et?</p>
</body>
</html>