<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Box</title>
    <link rel="stylesheet" href="../box.css">
</head>
<body>
    <h4>A Box Model is the design layed over the every HTML element .</h4>
    <p>It will contain border padding margin and content</p>
<p>    Total element width = width + left padding + right padding + left border + right border + left margin + right margin
</p>
<p>Total element height = height + top padding + bottom padding + top border + bottom border + top margin + bottom margin
</p>
    <div class="exp">
        <p>This is an Example Box: </p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ipsa, placeat facilis quo odit ut ab minus,
         dolorem repellat cupiditate expedita eveniet non, corporis doloribus! Magnam distinctio quis et recusandae.
    </div>
</body>
</html>