<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counters</title>
    <link rel="stylesheet" href="../counter.css">
</head>
<body>
    <h3>Counters used to maintain the anutomatic counting system</h3>
    <h5>C1</h5>
    <h5>C2</h5>
    <h5>C3</h5>
    <h5>C4</h5>
    <h5>C5</h5>
    <h3>Another Counter</h3>
    <h4>S1</h4>
    <h4>S2</h4>
    <h4>S3</h4>
    <h4>S4</h4>
    <h4>S5</h4>
    <p>This can be used with list </p>
</body>
</html>