<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display</title>
    <link rel="stylesheet" href="../display.css">
    <script>
        function hidee(){
            var x=document.getElementById("hide").innerHTML;
            x.
        }
    </script>
</head>
<body>
    <p>The Display will be either block or inline</p>
    <p>Block takes new line with a entire width Eg:p,h,li ....etc</p>
    <p>>> new Line after p</p>
    <span>Inline takes only required amount of space Eg :span,div ...etc</span>
    <span>>> New line after span</span>
    <p></p>
    <h4>We can over ride it by css</h4>
    <p class="block"> >> new Line after p</p> ...p
    <span></span>
    <span class="inline">>> New line after span</span> ...span
    <p>The block doesn't contain other block elements</p>
    <h3>Hide, Remove, reset</h3>
    <span class="hide">This Element will be hided -space will remain</span>
    <p>the span will not be shown also its space</p>
    <br>
    <span class="Remove">Removing the Element space will be free</span>
    <p>the span will not be shown but it will take space</p>

</body>
</html>