<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flexbox</title>
    <link rel="stylesheet" href="../flexbox.css">
</head>
<body>
    <h3>Flex Direction</h3>
    <div class="dir-container">
        <p>1</p>
        <p>2</p>
        <p>3</p>
        <p>4</p>
        <p>5</p>
    </div>
    <br><hr><hr><br>
    <h3>Flex Wrap</h3>
    <div class="wrap-container">
        <p>1</p>
        <p>2</p>
        <p>3</p>
        <p>4</p>
        <p>5</p>
        <p>6</p>
        <p>7</p>
        <p>8</p>
        <p>9</p>
    </div>
    <br><hr><hr><br>
    <h3>Flex Flow -shorthand for direction & wrap </h3>
    <div class="flow-container">
        <p>1</p>
        <p>2</p>
        <p>3</p>
        <p>4</p>
        <p>5</p>
        <p>6</p>
        <p>7</p>
        <p>8</p>
        <p>9</p>
    </div>
    <br><hr><hr><br>
    <h3>Justify Content - align ecah item horizontally</h3>
    <div class="jus-container">
        <p>1</p>
        <p>2</p>
        <p>3</p>
        <p>4</p>
        <p>5</p>
        <p>6</p>
        <p>7</p>
        <p>8</p>
        <p>9</p>
    </div>
    <br><hr><hr><br>
    <h3>Align Items - align each item veryically</h3>
    <div class="align_item-container">
        <p>1</p>
        <p>2</p>
        <p>3</p>
        <p>4</p>
        <p>5</p>
        <p>6</p>
        <p>7</p>
        <p>8</p>
        <p>9</p>
    </div>
    <br><hr><hr><br>
    <h3>Align Content - align whole content align the flex lines and modify the wrap</h3>
    <div class="align_cont-container">
        <p>1</p>
        <p>2</p>
        <p>3</p>
        <p>4</p>
        <p>5</p>
        <p>6</p>
        <p>7</p>
        <p>8</p>
        <p>9</p>
    </div>
    <br><hr><hr><br>
    <h3>Justify-content & align items can make a centered content - because vertically and horizontally centered</h3>
    <div class="just-align-container">
        <p>1</p>
    </div>
    <br><hr><hr><br>
    <h3>Flex with items</h3>
    <h3>Order</h3>
    <p>Giving the items an order </p>
    <div class="order">
        <p style="order: 3;">1</p>
        <p style="order: 4;">2</p>
        <p style="order: 1;">3</p>
        <p style="order: 2;">4</p>
    </div>
    <br><hr><hr><br>
    <h3>Flex-grow</h3>
    <p>Giving the items an spcific times of growth</p>
    <div class="f-grow">
        <p style="flex-grow: 3;">1</p>
        <p style="flex-grow: 4;">2</p>
        <p style="flex-grow: 1;">3</p>
        <p style="flex-grow: 2;">4</p>
    </div>
    <br><hr><hr><br>
    <h3>Flex-Shrink</h3>
    <p>0 will make the item no to shrink</p>
    <p>the vaulue increases the item will shrink [opposite to grow]</p>
    <div class="f-shrink">
        <p style="flex-shrink: 0;">1</p>
        <p style="flex-shrink: 1;">2</p>
        <p style="flex-shrink: 0;">3</p>
        <p style="flex-shrink: 2;">4</p>
    </div>
    <br><hr><hr><br>
    <h3>Flex-basic</h3>
    <p>Giving the items an spcific initial length</p>
    <div class="f-basic">
        <p style="flex-basis:100px;">1</p>
        <p style="flex-basis: 200px;">2</p>
        <p style="flex-basis: 300px;">3</p>
        <p style="flex-basis: 50px;">4</p>
    </div>
    <br><hr><hr><br>
    <h3>Flex shorthand</h3>
    <div class="f-basic">
        <p style="flex:0 0 100px;">1</p><!--No shrink grow and initial 100px-->
        <p style="flex: 200px;">2</p><!--Shrink & grow -->
        <p>3</p>
      
    </div>
    <br><hr><hr><br>
    <h3>Align Self</h3>
    <div class="self">
        <p style="align-self: center;">1</p>
        <p>2</p>
        <p>3</p>
    </div>
</body>
</html>