<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Font</title>
    <link rel="stylesheet" href="../font.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia&effect=neon|anaglyph|fire">
    <!-- Multiple fonts & Effects -->
</head>
<body>
    <h2>Fonts Family</h2>
    <h3 id="ar">Font Style -Sans Serif Arial</h3>
    <h3 id="ver">Font Style -Sans Serif Veranda</h3>
    <h3 id="geo">Font Style -Sans Serif Georgia</h3>
    <h3 id="time">Font Style -Sans Serif Times New Roman</h3>
    <h3 id="gara">Font Style -Sans Serif  Garamond Not aval</h3>
    <h3 id="brush">Font Style -Cursive Brush Script Not aval  </h3>
    <h3 id="cour">Font Style -Monospace  Courier new</h3>

    <h2>Font Style</h2>
    <p class="n">Normal Style</p>
    <p class="it">Italic Style</p>
    <p class="ob">Oblique Style</p>

    <h2>Font weight</h2>
    <p class="nr">Normal </p>
    <p class="bl">Bold</p>
    <p class="spec">Specific</p>
    <h2>Font Variant</h2>
    <p class="nr_v">Normal</p>
    <p class="sm">Small Caps</p>
    <h2>Font sizes</h2>
    <p id="px">Pixels gives full control of the text</p>
    <p id="em">The em will adapt the element size and shows px/16=em.Used to resize the text</p>
    <div>
        <p id="per"> The % with em will reduce the problem with the em on some browsers</p>
    </div>
    <p id="vw">The viewport width is used to get a responsive size</p>
    <p>The vw will adapt based on the window size and resize itself</p>

    <h2>Google fonts</h2>
    <p id="sof">Sofia</p>
    <p id="aud">Audiowide</p>
    <h3>Font Effects</h3>
    <div class="effect">
        <strong>Audiowide</strong>
        <!-- give the class name as font-effect-[name of the effect] -->
        <p class="font-effect-neon">Neon Effect</p>
        <p class="font-effect-anaglyph">Anaglyph Effect</p>
        <p class="font-effect-fire">Fire Effect</p>
    </div>
    <h5 class="font-effect-neon">Sofia font for Effects</h5>
    <h3>Font Pairing</h3>
    <p>Georgia and Verdana is a classic combination. It also sticks to the web safe font standards:    </p>
    <h3 class="fshort">Font Shorthand</h3>
</body>
</html>