<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gradient</title>
    <link rel="stylesheet" href="../gradient.css">
</head>
<body>
    <h3>There are three Gradients</h3>
    <h4>Linear</h4>
    <div id="tor">
    </div><hr>
    <div id="tob">
    </div><hr>
    <div id="tol">
    </div><hr>
    <div id="tou">
    </div><hr>

    <h4>Radial</h4>
    <div id="r1">

    </div><hr>
    <div id="r2">

    </div>
    <hr>
    <div id="r3">

    </div>
    <hr>
    <div id="r4">

    </div>

    <h4>Conical</h4>
    
    <div id="c1">

    </div><hr>

    <div id="c2">

    </div><hr>

    <div id="c3">

    </div><hr>

    <div id="c4">

    </div><hr>
</body>
</html>