<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Width & Height</title>
    <link rel="stylesheet" href="../height_width.css">
</head>
<body>
    <div class="width">
        <p>Always resize to see the efect of the browser</p>
        <h3 class="width">Width</h3>
        <h4 class="width">Max width property will adopt the browser and the content
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A quidem illum sit mollitia officia voluptatum dolore, reiciendis quod voluptate. Quibusdam quas quam adipisci, qui exercitationem dolore expedita consectetur quos excepturi.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, aliquam quod id vel rem saepe alias a dolorum ab molestias velit voluptatum deserunt officia maxime ut natus delectus? Sapiente, minus?Lorem 
            ipsum dolor sit amet consectetur
             adipisicing elit. Rem ex consequuntur ad assumenda? Cumque totam rerum quos ipsum eaque alias,
             libero possimus inventore animi quisquam expedita quidem dolore, placeat eveniet.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus earum enim ipsum nisi distinctio quibusdam veritatis sed, aliquam et debitis? Harum, commodi l**************************
            ***************************************************************************************************************************
            ****************************************************ibero ea tempore accusamus maxime nam nisi velit.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus eos, minima consectetur dolores nam, natus ipsa, tempora dolorum accusamus perspiciatis fugit! Perferendis tempore ipsam praesentium unde provident
             voluptatem delectus similique
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius unde sit fugiat! Nemo a laboriosam perferendis, consequuntur obcaecati expedita hic? Hic quia consequuntur aspernatur illo facere consectetur odio ipsum et?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni nobis saepe, ex vero atque neque alias porro inventore unde ut. Assumenda modi incidunt eum temporibus eius sit voluptatum dolore. Quam!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet totam suscipit dolor doloribus, minima deserunt? Minima, commodi et? Distinctio tenetur ipsum dignissimos corporis sunt provident! Esse vel quidem excepturi. Quos!
        </h4>
    </div>
</body>
</html>