<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <!-- Fontawesome -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

<!-- Bootstrap Icons -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- Google Icons -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<title>Icons</title>
</head>
<body>
<!-- sign in to the related website and by calling the name we can get the icons -->
<!-- Fontawesome -->
<i class="fas fa-cloud"></i>
<i class="fas fa-heart"></i>
<i class="fas fa-car"></i>
<i class="fas fa-file"></i>
<i class="fas fa-bars"></i><br>
<!-- Bootstrap Icons -->
<label class="glyphicon glyphicon-cloud"></label>&emsp;
<i class="glyphicon glyphicon-remove"></i>&emsp;
<i class="glyphicon glyphicon-user"></i>&emsp;
<i class="glyphicon glyphicon-envelope"></i>&emsp;
<i class="glyphicon glyphicon-thumbs-up"></i><br><br>
<!-- Google Icons -->
<i class="material-icons">cloud</i>&emsp;
<i class="material-icons">favorite</i>&emsp;
<i class="material-icons">attachment</i>&emsp;
<i class="material-icons">computer</i>&emsp;
<i class="material-icons">traffic</i>&emsp;
</body>
</html>