<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links</title>
    <link rel="stylesheet" href="../link.css">
</head>
<body>
    <p>Links can be style by many </p>
    <a id="w3" href="https://w3schools.com" target="_blank" title="Go to Watch some exciting Tutorials">W3 schools</a><br>
    <a id="jt" href="https://www.javatpoint.com" target="_blank" title="Click for more Topics">javatpoint</a>
    <h4>Link Button</h4>
    <a id="yt" href="http://www.youtube.com" target="_blank" title="More Videos">youtube</a>
    <p>red for link <br> blue for hover,active <br> green for visited</p>

    <h4>Cursor types</h4>
    <span style="cursor: copy;">Copy</span><br>
    <span style="cursor: crosshair;">Cross Hair</span><br>
    <span style="cursor: e-resize;">Resize</span><br>
        -  there are many types od resize cursors <br>
    <span style="cursor: default;">Default</span><br>
    <span style="cursor: help;">Help</span><br>
    <span style="cursor: move;">Move</span><br>
    <span style="cursor:progress">progress</span><br>
    <span style="cursor:wait">wait</span><br>



</body>
</html>