<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lists</title>
    <link rel="stylesheet" href="../list.css">
</head>
<body>
    <h3>Styling the Lists</h3>
    <h4>Unordered List</h4>
    <ul>
        <li>Apple</li>
        <li>Orange</li>
        <li>Grapes</li>
        <li>Banana</li>
    </ul>
    <h4>Ordered List</h4>
    <ol>
        <li>Ooty</li>
        <li>Kodaikanal</li>
        <li>Yercaud</li>
        <li>Yellagiri</li>
    </ol>
</body>
</html>