<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Margin/Padding</title>
    <link rel="stylesheet" href="../mar_pad.css">
</head>
<body>
    <!-- Margin space between elements over other elements -->
    <span id="margin">Margin Operation</span>
    <p>The Margin is the space on the outer side an between the elements</p>
    <div>

        <span class="inher">Inherit's the parent property</span>
    </div>
    <span class="margin_clp">
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
    </span>            
      <h1>Heading 1</h1>
      <h2>Heading 2</h2>
      <!-- Because  of the margin on both top and Bottom The high margin value will be applied and the low wil be surprassed-->
      <h3>Padding </h3><p>-Space between the element border and the content within it .</p>
      <div>
        <p class="pad1">Padding</p>
        <h1 class="pad1">Padding shorthand</h1>
        <span class="pad2">Padding can effect the width 1 [300px] </span><br><br><br>
        <span class="pad1">Padding can effect the width 2[300px]</span><br>
        <h4 class="pad1">Padding won't effect width by using the box-sizing </h4>
        <h4 class="pad2">Padding won't effect width by using the box-sizing </h4>
      </div>
</body>
</html>