<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav Bar</title>
    <link rel="stylesheet" href="../nav.css">
</head>
<body>
    <p>Nav bar is collection of links</p>
    <h3>Vertical Nav Bar</h3>
    <nav class="nav1">
        <li><a href="https://w3schools.com" target="_blank">W3Schools</a></li>
        <li><a href="https://youtube.com" target="_blank">Youtube</a></li>
        <li><a href="https://javatpoint.com" target="_blank">JavaTpoint</a></li>
        <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
    </nav>
    <h3>This is a full fledged nav bar</h3>
    <p>Consider this as full browser window</p>
    <div class="fnav">
        <nav class="fnav">
        <li><a href="https://w3schools.com" target="_blank">W3Schools</a></li>
        <li><a href="https://youtube.com" target="_blank">Youtube</a></li>
        <li><a href="https://javatpoint.com" target="_blank">JavaTpoint</a></li>
        <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
        </nav>
    </div>
    <hr>
    <hr>
    <h3>
        Horizontal Nav Bar
    </h3>
    <div class="hnav">
        <nav class="hnav">
            <li><a href="https://w3schools.com" target="_blank">W3Schools</a></li>
            <li><a href="https://youtube.com" target="_blank">Youtube</a></li>
            <li><a href="https://javatpoint.com" target="_blank">JavaTpoint</a></li>
            <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
            </nav>
    </div>
    <br><br><br><hr><hr>
    <div class="hfnav">
        <nav class="hfnav">
            <li><a href="https://w3schools.com" target="_blank">W3Schools</a></li>
            <li><a href="https://youtube.com" target="_blank">Youtube</a></li>
            <li><a href="https://javatpoint.com" target="_blank">JavaTpoint</a></li>
            <li  style="float: right;"><a href="https://facebook.com" target="_blank">Facebook</a></li>
            </nav>
            <br><br><br><hr><hr>
            <h3>Sticky Nav Bar</h3>
            <div class="rnav">
                <nav class="rnav">
                    <li><a href="https://w3schools.com" target="_blank">W3Schools</a></li>
                    <li><a href="https://youtube.com" target="_blank">Youtube</a></li>
                    <li><a href="https://javatpoint.com" target="_blank">JavaTpoint</a></li>
                    <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
                    </nav>
                    <br><br><br><br><br>    <br><br><br><br><br>
            <br><br><br><br><br>    <br><br><br><br><br>
            <p>    
                The sicky only works for content within the div or section or element
            </p>
            <br><br><br><br><br>    <br><br><br><br><br>
            <br><br><br><br><br>    <br><br><br><br><br>
            </div>   
            <hr><hr> 
    </div>
</body>
</html>