<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outline</title>
    <link rel="stylesheet" href="../outline.css">
</head>
<body>
    <div class="outline">
        <h3 class="outline">The Outline is same as the border but it was outside the border</h3>
    <p>outline-style <br>
        outline-color <br>
        outline-width <br>
        outline are same as border</p>
        <h3>Border Element:</h3>
        <p class="out1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt neque placeat odit
             perspiciatis atque ratione nemo distinctio fugit velit aliquid nobis qui soluta,
             delectus excepturi laudantium! Mollitia repellat deserunt vero.</p>
        <p class="out2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt neque placeat odit
        perspiciatis atque ratione nemo distinctio fugit velit aliquid nobis qui soluta,
        delectus excepturi laudantium! Mollitia repellat deserunt vero.</p>
    </div>
</body>
</html>