<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Position</title>
    <link rel="stylesheet" href="../position.css">
</head>
<body>
   
    <h3>Elements are positioned top bottom right left after positioning</h3>
    <h4>Positions : static , relative, fixed, sticky , absolute</h4>
    
    <h3>Static</h3>
    <div class="static">
        This is a static block.
    </div>
    <div class="relative">
        This is a Relative block.
    </div>
    <div class="fixed">
        This is a Fixed block.
    </div>
    <div class="absolute">
        This is a Absolute block.
    </div><br>
    <div class="sticky" style="margin: 20px; background-color: rgba(0, 128, 0, 0.452);">
        This is a Sticky block.
    </div>
    <div style="padding-bottom:1000px">
        <p>Sample Text</p>   
    </div>
</body>
</html>