<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pseudo class & Element</title>
    <link rel="stylesheet" href="../pseudo.css">
</head>
<body>
    <h3>: for pseudo class</h3>
    <p class="hov">Click Here to see the hover effect</p>
    <div>
        <h3 class="hv">Hover here to see the hidden element</h3>
        <p>This is the Hidden Element</p>
    </div>
    <h3>First Child</h3>
    <div class="fs">
        <span>Hi</span><br>
        <span>Hello</span><br>
    </div>
    <div class="fs">
        <span>Hello</span><br>
        <span>Hi</span><br>
    </div>
    <h3>Focus</h3>
    <div class="fc">
        <form>
            <input type="text" name="name" id="name"><br>
            <input type="password" name=" pass" id="pass">
            <input type="submit" value="Sub">
        </form>
    </div>
    <h3>Pseudo Element</h3>
    <div class="pe1">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> 
    <p>Harum cupiditate ipsum odit aspernatur, deleniti vitae sequi ab aliquid</p>
    <p> laboriosam amet aut nisi excepturi quidem repellendus. Consequuntur delectus voluptates esse architecto!</p>        
    </div>
    <div class="pe2">
        <p>Harum cupiditate ipsum odit aspernatur, deleniti vitae sequi ab aliquid</p>
    </div>
    <div class="befor">
        <p id="b">       
             Inserting OWL image before this Line
        </p>
        <p id="a">
            Inserting OWL image after this Line
        </p>
    </div>
    <h3>Marker</h3>
    <div class="mark">
        <p>Marker is used to style  listing items </p>
        <ul style="list-style-type:disc;">
            <li>one</li>
            <li>two</li>
            <li>three</li>
            <li>four</li>
        </ul>
        <span class="select">Click Here!</span>
    </div>
</body>
</html>