<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../selector.css">
    <title>CSS Basic Selectors</title>
</head>
<body>
    <div class="cls1">
        <h2>Class 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolorum maiores cupiditate? Explicabo fugiat quibusdam optio sint,
         repudiandae aperiam magnam suscipit, officia a minima,
        recusandae nihil quasi modi porro fuga!</p>
        <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nisi porro esse voluptate in ad tenetur delectus. Provident accusantium molestiae,
        repellat voluptate, non quo ipsum quod delectus ipsam, est ratione?
        </li>
    </div>
    <div class=" cls1 cls2 border">
        <!-- Multiple Class will inherit both class properties -->
        <h2>Class 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolorum maiores cupiditate? Explicabo fugiat quibusdam optio sint,
         repudiandae aperiam magnam suscipit, officia a minima,
        recusandae nihil quasi modi porro fuga!</p>
        <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nisi porro esse voluptate in ad tenetur delectus. Provident accusantium molestiae,
        repellat voluptate, non quo ipsum quod delectus ipsam, est ratione?
        </li>
    </div>
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <p id="id1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas iste quasi odit veritatis fuga minus, modi cumque nisi?
         Quis sed eos perferendis placeat iste beatae error delectus adipisci consequuntur dolorem.
    </p>
    
    <h3>Advanced Selectors</h3>
    <p>descedant selector</p>
    <div class="cl11">
        <section>
            <p>This is a descedant selector</p>
        </section>
        <p>This is Child Selector</p>
    </div>
    <p>Immediate 1</p>
    <p>Immediate 2</p>
    <h4>Immediate 4</h4>
    <span>Immediate 4</span>
    <h4>Immediate 4</h4>
<h3>Selector by attribute</h3>
<!-- this will be mostly useful in forms -->
<p id="Value">Element with specific attribute</p>
<p title="#HTML">Element with specific attr and value</p>
<p title="flower"> All Elements with specific value</p>
<p title="little flower"> Elements with "flower" in the href attr</p>
<span title="funny">All elements with specif value for an attribute</span><br>
<span title="fun1">All elements starts with specif value for an attribute </span><br>
<span title="fun1_wasgood">All elements starts with specif value for an attribute </span><br>

<span title="fun2">All elements ends with specif value for an attribute</span><br>
<span title="its_fun2">All elements ends with specif value for an attribute</span><br>

<span title="fun3">All elements contains specif value for an attribute</span><br>
<span title="its-fun3">All elements contains specif value for an attribute</span><br>


</body>
</html>