<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tables</title>
    <link rel="stylesheet" href="../table.css">
</head>
<body>
     <h3>Table</h3>
     <table class="sim">
        <caption>Simple Table</caption>
        <thead>
            <tr>
                <th>S.no</th>
                <th>Name</th>
                <th>Area</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1.</td>
                <td>Hariharan</td>
                <td>Salem</td>
            </tr>
            <tr>
                <td>2.</td>
                <td>Manoj</td>
                <td>Dindugul</td>
            </tr>
            <tr>
                <td>3.</td>
                <td>Kings</td>
                <td>Kanniyakumari</td>
            </tr>
        </tbody>

     </table>

     <h3>Responsive Table</h3>
     <div>
        <table class="res">
            <caption>Responsive Design table</caption>
            <thead>
                <tr>
                    <th>S.no</th>
                    <th>Name</th>
                    <th>Area</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td>Hariharan</td>
                    <td>Salem</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>Manoj</td>
                    <td>Dindugul</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>Kings</td>
                    <td>Kanniyakumari</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Charan</td>
                    <td>Salem</td>
                </tr>
            </tbody>
    
         </table>
     </div>
<h3>Auto Responsive Table</h3>
<div style="overflow-x: auto;">
    <table class="ares">
        <caption><h4>This table will provide a scroll bar if the space is not enough to show</h4>
        </caption>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Points</th>
        <th>Points</th>
        <th>Points</th>
        <th>Points</th>
        <th>Points</th>
        <th>Points</th>
        <th>Points</th>
        <th>Points</th>
        <th>Points</th>
        <th>Points</th>
      </tr>
      <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
        <td>94</td>
        <td>94</td>
        <td>94</td>
        <td>94</td>
        <td>94</td>
        <td>94</td>
        <td>94</td>
        <td>94</td>
        <td>94</td>
      </tr>
      <tr>
        <td>Adam</td>
        <td>Johnson</td>
        <td>67</td>
        <td>67</td>
        <td>67</td>
        <td>67</td>
        <td>67</td>
        <td>67</td>
        <td>67</td>
        <td>67</td>
        <td>67</td>
        <td>67</td>
      </tr>
    </table>
  </div>
     
</body>
</html>