<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>text Fonts</title>
    <link rel="stylesheet" href="../text.css">
</head>
<body style="font-size:large; font-family: sans-serif;">
    <div class="text">
        <h4>Text Formating</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam eligendi at ratione, non sint doloribus 
        ad sit tempora perferendis earum, consequuntur, adipisci vitae eaque ipsam explicabo atque eveniet consequatur aut!</p>
    </div>
    <div class="txtl">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas quidem necessitatibus aut deleniti culpa dolorem 
        praesentium tempore officiis magni quaerat labore totam quasi eos harum impedit, quia alias. Blanditiis, animi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem magni nemo ut dignissimos recusandae distinctio, 
        officiis voluptatibus saepe incidunt voluptates, quam ad libero, quia dicta mollitia aliquam <span class="dirct"> voluptatum totam! Facere!</span></p>
    </div>
    <div class="veral">
        <h2>Vertical Adjustment of the text</h2>
        <p><span class="v1">Lorem</span> sub[bottom] ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <p> <span class="v2">Lorem</span>sup[top] Eaque impedit numquam velit quidem veniam sint a 
        </p>
        <p> <span class="v3">Lorem</span>tesxt-top cum? Ut eveniet amet iusto, exercitationem esse 
        </p>
        <p> <span class="v4">Lorem</span>20% similique quasi dolore asperiores optio fugiat modi?</p>
    </div>
    <div class="dec">
        <h3>Text Decoration</h3>
        <span class="d1">Lorem</span>, ipsum dolor sit amet consectetur adipisicing elit. Dolorum, sit? Quidem,<br>
        <span class="d2">eius</span> natus saepe explicabo ad quo reiciendis tenetur reprehenderit, <br>
        <span class="d3">ex</span>  accusamus quas pariatur! Laborum molestias quam culpa unde dignissimos. <br><br>
        <span class="d4">Text Decoration in Shorthand</span>
    </div>
    <h4>Link without underline ->> <a href="http://www.w3schools.com" target="_blank">link to >> W3Schools</a></h4>

    <h3>Text Transformation</h3>
    <p style="text-transform:capitalize ;">hariharan</p>
    <!-- lowercase,uppercase none -->
    <br><br>
    <h3>Text Spacing</h3>
    <div class="space">
        <h1>Spacing</h1>
        <p class="s1">text intent.</p>
        <p class="s2">letter and word space</p>
        <p class="s3">line height</p>   
        <p class="s4">[white space] autem voluptate non maxime optio soluta!
            autem voluptate non maxime optio soluta!
            autem voluptate non maxime optio soluta!
            autem voluptate non maxime optio soluta!
            autem voluptate non maxime optio soluta!
            autem voluptate non maxime optio soluta!
            <br>disable to see the difference
        </p>
    </div>
    <br><br>
    <h3>Text Shadow </h3>
    <div class="shadow">
        <p class="sh1">Shadow 1 </p>
        <p class="sh2">Shadow 2 </p>
        <p class="sh3"> Shadow 3</p>
        <p class="sh4"> Shadow 4</p>
        <p class="sh5">Shadow 5 </p>
    </div>
</body>
</html>