.head { 
  background-color: rgb(15, 57, 183);
  grid-column: span 3 ;
  
}
.menu {
  background-color: rgba(197, 78, 13, 0.735);
  grid-row: 2/span 3;
 }
.main {
  background-color: rgb(36, 147, 86);
  grid-row: 2/span 2;

 }
.right {
  background-color: aquamarine;
  grid-row: 2/span 2;


 }
.foot { 
  background-color: cornflowerblue;
  grid-column: 2/span 2;

}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(400px,3fr));
}

div {
  background-color: grey;
  text-align: center;
  padding: 20px;
}